{% extends 'base.html.twig' %}

{% block title %}Hi there!{% endblock %}

{% block body %}

    {% include 'profile/navigation.html.twig' %}

    <div class="container pt-4">
        <div class="row">
            <div class="content row col-md-10">

                <h1>You have {{ routines|length }} active routines</h1>

                <div class="card-deck">
                    {% for routine in routines %}
                        {% if  routine.routineUserDays|length > 0 %}
                            <div class="col-sm-4 mb-3">
                                <div class="card">
                                    {% if routine.parentRoutine.photo %}
                                        <img src="{{ asset(routine.parentRoutine.photo)}}" class="card-img-top" alt="...">
                                    {% endif %}
{#                                {% if not routine.daysCompleted %}#}
{#                                    {% set routine.daysCompleted = 0 %}#}
{#                                {% endif %}#}
                                {% set day =  routine.routineUserDays[routine.daysCompleted + 0]%}
                                    <div class="card-body">
                                        <p class="card-text">
                                            Day order: {{ day.routineDay.dayOrder }}
                                        </p>
                                        <p class="card-text">Recommendations: {{ day.routineDay.recommends }}</p>
                                        {% for product in day.routineDay.getProducts %}
                                            <div class="row no-gutters mt-2">
                                                <div class="col-md-4">
                                                    {% if product.photo %}
                                                        <img src="{{ asset(product.photo) }}" class="card-img" alt="">
                                                    {% endif %}
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="pl-1">
                                                        <p class="card-text">Name: {{ product.name }}</p>
                                                        <p class="card-text">Brand: {{ product.brand }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr/>
                                        {% endfor %}
                                        <p class="card-text">
                                            <button onclick="completeDay('{{ path('user.routine.day.complete', {id: routine.id, dayId: day.id}) }}', {{ day.id }})" class="btn btn-primary btn-{{ day.id }}">Complete</button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
            <div class="notifies col-md-2">
                notifications
            </div>
        </div>
    </div>

{% endblock %}
