
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {% include('profile-expert/navigation.html.twig') %}

        <div class="row flex-column flex-sm-row mt-4">
            <div class="col-md-3">
                {% include('routine/left-panel.html.twig') %}
            </div>
            <div class="col-md-9">
                <h1 class="pb-3">Создание программы</h1>

                <div class="col-sm-12 pb-4">
                    {{ form_start(form) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.photo) }}
                    <button type="submit" class="btn-primary btn">Сохранить</button>
                    {{ form_end(form) }}
                </div>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}