{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row flex-column flex-sm-row mt-4">
            <div class="col-md-3">
                {% include('routine/left-panel.html.twig') %}
            </div>
            <div class="col-md-9">
                <div class="card-deck">
                    {% for routine in expert.getRoutines %}
                    <div class="col-sm-4 mb-3">
                        <div class="card">
                            {% if routine.photo %}
                                <img src="{{ asset(routine.photo)}}" class="card-img-top" alt="...">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ routine.user.name }}</h5>
                                <p class="card-text">Количество дней программы: {{ routine.getRoutineDays.count }}</p>
                                <p class="card-text">Тип: {{ routine.type.type }}</p>
                            </div>
                            <div class="card-footer card-footer-{{ routine.id }}">
                                <a href="{{ path('expert.routine.edit', {'id' : routine.id}) }}" class="btn btn-primary mb-3">Редактировать</a>
                                <button onclick="deleteRoutine('{{ path('expert.routine.delete', {id: routine.id}) }}', {{ routine.id }})" class="btn btn-warning">Удалить</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
