<h4>Всего экспертов: ({{ experts.getTotalItemCount }})</h4>
<table  class="table table-responsive pt-3">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col">Certificate</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    {% for expert in experts %}
        <tr>
            <th scope="row">
                {{ loop.index }}
            </th>
            <td>
                {{ expert.id }}
            </td>
            <td>
                {{ expert.name }}
            </td>
            <td>
                {{ expert.email }}
            </td>
            <td>
                {% if 'ROLE_INVALID_EXPERT' in expert.roles%}
                    <span class="badge badge-danger">  не подтверждён </span>
                {% endif %}
            </td>
            <td>
                {% if  expert.getUserCertificates.get(0) %}
                <a href="{{ asset(expert.getUserCertificates.get(0).certificate) }}" class="btn">Сертификат</a>
                {% endif %}
            </td>
            <td>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCard{{ expert.id }}" aria-expanded="false" aria-controls="collapseCard{{ expert.id }}">
                    Редактировать
                </button>
            </td>
            <td>
                <a href="" class="btn">Удалить</a>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <div class="collapse" id="collapseCard{{ expert.id }}">
                    <div class="card card-body">
                        <button onclick="validExpert({{ expert.id }})" class="btn">Подтвердить эксперта</button>
                    </div>
                </div>
            </td>
        </tr>

    {% endfor %}

</table>
{{ knp_pagination_render(experts) }}