{% extends 'base.html.twig' %}
{% block head %}
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('css/img-wrapper-style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('css/elastislide.css') }}" />
{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-auto align-self-center ">
        <a href="{{ path('app.logout') }}">Log out</a>
    </div>
    <div class="row justify-content-center  pt-5">
        <div class="row justify-content-between col-md-6">
            <div class="col-md-auto align-self-center pl-0">
                <h1 class="h3 font-weight-normal align-self-center">Private profile</h1>
            </div>
            <div class="col-md-auto align-self-center ">
                <a href="{{ path('profile.expert.edit') }}">Edit</a>
            </div>

        </div>
    </div>
    <div>

        <div class="row justify-content-center pt-4" id="tab">
            <img class="img avatar" src="{{ asset('/profile-expert-photo/anonim.png') }}" width="130" height="130" alt="">
        </div>

        <div class="row justify-content-center">
            <a href=""  rel="tooltip" title="changePhoto">Change photo</a>
        </div>


        <div class="tab-content row justify-content-center pt-3" id="tab">
            {{ user.name }}
        </div>
        <div class="tab-content row justify-content-center" id="tab">
            {{ user.email }}
        </div>
        <div class="tab-content row justify-content-center" id="tab">
            {{ user.id }}
        </div>

        {% for certificate in user.certificates %}

        {% endfor %}

    </div>

    <div class="content">
        <div id="rg-gallery" class="rg-gallery">
            <div class="rg-thumbs">
                <div class="es-carousel-wrapper">
                    <div class="es-nav">
                        <span class="es-nav-prev">Previous</span>
                        <span class="es-nav-next">Next</span>
                    </div>

                    <div class="es-carousel">
                        <ul style="display:inline;">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.tmpl.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.elastislide.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/gallery.js') }}"></script>
    {% endblock %}